/* ==========================================================================
	CSS Main Heading
   ========================================================================== */

.admin-user {

	// code here
.user-img {
	max-width: 250px;
	margin: 0 auto

}

	/* MQ
	--------------------------------------------- */

	@media only screen and (max-width: $layout-breakpoint-xs - 1) { // [xs-only]
	}
	@media screen and (min-width: $layout-breakpoint-xs) { // [sm-up]
	}
	@media screen and (min-width: $layout-breakpoint-sm) { // [md-up]
	}
	@media screen and (min-width: $layout-breakpoint-xs) and (orientation:portrait) { // [sm-up, portrait]
	}
	@media only screen and (max-width: $layout-breakpoint-sm - 1) { // [sm-down]
	}
}

/* CSS Subheading
--------------------------------------------- */

.align-right {
	float:left;
	width: 50%;
	text-align: right;

}
.align-left {
    float: left;
	width: 50%;
}


.upload-img-my {
	display: inline-block;
	width: 20% !important;

}
.user-img-my {
	display: inline-block;
	width: auto;
	vertical-align: middle;

}

@media only screen and (min-width: 1024px) {
	.rmv-scroll md-input-container {
		margin: 10px 0 !important;
	}
}