<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

	<!-- TOP BACKGROUND -->
	<div class="top-bg md-accent-bg"></div>
	<!-- / TOP BACKGROUND -->

	<!-- CENTER -->
	<div class="center" layout="column" flex>

		<!-- CONTENT HEADER -->
		<div class="header" layout="row" layout-align="space-between center">
			<div class="white-fg" layout="column" layout-align="start start">
				<h1 class="h1" layout="row" layout-align="start center">
					<span translate="LOCATION_CITY.PLURAL">Cities</span>
				</h1>
			</div>

			 <div class="search" layout="row" layout-align="start center" flex>
				<md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
				<input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search" translate translate-attr-placeholder="LOCATION_CITY.SEARCH" flex>
			</div>

			<div>
				<md-button class="md-raised md-background" ng-click="vm.gotoAddCity()">
					<span translate="LOCATION_CITY.ADD">Add New City</span>
				</md-button>
			</div>
		</div>
		<!-- / CONTENT HEADER -->

		<!-- CONTENT CARD -->
		<div class="content-card" layout="column" flex>

			<!-- CONTENT TOOLBAR -->

			<!-- / CONTENT TOOLBAR -->

			<!-- CONTENT -->
			<div class="content fullpage-datatable" layout="column" flex>

				<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
					   dt-options="vm.dtOptions">
					<thead>
						<tr>
							
							<th class="secondary-text">
								<div class="table-header">
									<span class="column-title">City</span>
								</div>
							</th>
							<th class="secondary-text">
								<div class="table-header">
									<span class="column-title">Province</span>
								</div>
							</th>
							<th class="secondary-text">
								<div class="table-header">
									<span class="column-title">Longitude</span>
								</div>
							</th>
							
							<th class="secondary-text">
								<div class="table-header">
									<span class="column-title">Latitude</span>
								</div>
							</th>
							<th class="secondary-text">
								<div class="table-header">
									<span class="column-title">Google Place Id</span>
								</div>
							</th>
							
							<th class="secondary-text">
								<div class="table-header">
									<span class="column-title">Actions</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in ::vm.cities">
							<td>{{product.cityName}}</td>
							<td>static</td>
							<td>{{product.longitude}}</td>
							<td>{{product.latitude}}</td>
							<td>{{product.googlePlaceId}}</td>
							<td>
								<md-button class="edit-button md-icon-button" ng-click="vm.gotoCityDetail(product.id)" aria-label="Product details"
										   translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
									<md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
								</md-button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- / CONTENT -->

		</div>
		<!-- / CONTENT CARD -->

	</div>
	<!-- / CENTER -->

</div>
