<div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="80">

                <form name="city" class="md-inline-form" novalidate>

                    <div class="form-title">Add Location (City) </div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="cityName" ng-model="vm.city.cityName"
                                   placeholder="City Name"
                                   required>
                            <div ng-messages="city.cityName.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>City Name is required.</span>
                                </div>
                            </div>
                        </md-input-container>

                       
                    </div>

                    <div layout="column" layout-gt-xs="row">
                        
						<md-input-container flex>
                            <input type="text" name="latitude " ng-model="vm.city.latitude" placeholder="12.1234 "
                                   required>
                            <div ng-messages="city.latitude.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Latitude field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
						
                        <md-input-container flex>
                           <input type="text" name="longtitude " ng-model="vm.city.longtitude" placeholder="12.1234 "
                                   required>
                            <div ng-messages="city.longtitude.$error"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Longtitude field is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
					
					 <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="text" name="googlePlaceId" ng-model="vm.city.googlePlaceId"
                                   placeholder="Google Place ID" >
                        </md-input-container>
					</div>

                    <md-input-container class="md-block">
                        <label>Short Desc </label>
                        <textarea ng-model="vm.city.shortDesc" md-maxlength="150" max-rows="5"></textarea>
                    </md-input-container>
					
					
					 

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="city.$invalid || city.$pristine">
                        Submit
                    </md-button>
                </form>

            </div>
            <!-- / BASIC FORM -->

            <!-- BASIC FORM DATA -->
          <!--   <div class="form-wrapper form-data-wrapper md-whiteframe-1dp" flex="40">
                <div class="form-title">Form ng-model data</div>
                <div class="json-data-wrapper">
                    <pre>{{vm.user | json}}</pre>
                </div>
            </div> -->
            <!-- / BASIC FORM DATA -->
        </div>